export ENVIRONMENT="development"
export QUEUERY_TOKEN=
export QUEUERY_TOKEN_SECRET=
export JUPYTER_PORT=8888
export APP_PORT1=9200
export APP_PORT2=9300
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export DEBUG=1
